[submodule "rust-ncnn"]
	path = lib/rust-ncnn
	url = https://github.com/crosstyan/rust-ncnn
[submodule "example/CLI11"]
	path = example/CLI11
	url = https://ghproxy.com/github.com/CLIUtils/CLI11
[submodule "example/fmt"]
	path = example/fmt
	url = https://ghproxy.com/github.com/fmtlib/fmt
